.highlight  { padding: 1px 10px; border: none; background: #2D3639; }
.highlight .c { color: #ffffff; font-style: italic } /* Comment */
.highlight .err { color: #bf4545; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #cce7ff;font-weight: bold } /* Keyword */
.highlight .o { color: #cce7ff;font-weight: bold } /* Operator */
.highlight .n { color: #cce7ff; } /* No attribute */
.highlight .cm { color: #808F95; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #808F95; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #808F95; font-style: italic } /* Comment.Single */
.highlight .cs { color: #808F95; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #bf4545 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #bf4545 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #5abf95; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #cce7ff } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #fce390 } /* Name.Attribute */
.highlight .nb { color: #cce7ff } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #cce7ff } /* Name.Constant */
.highlight .ni { color: #bf4545 } /* Name.Entity */
.highlight .ne { color: #bf4545; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #bf4545; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #155d89 } /* Name.Tag */
.highlight .nv { color: #cce7ff } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #5a98c8 } /* Literal.Number.Float */
.highlight .mh { color: #5a98c8 } /* Literal.Number.Hex */
.highlight .mi { color: #5a98c8 } /* Literal.Number.Integer */
.highlight .mo { color: #5a98c8 } /* Literal.Number.Oct */
.highlight .sb { color: #33b88a } /* Literal.String.Backtick */
.highlight .sc { color: #33b88a } /* Literal.String.Char */
.highlight .sd { color: #33b88a } /* Literal.String.Doc */
.highlight .s2 { color: #33b88a } /* Literal.String.Double */
.highlight .se { color: #33b88a } /* Literal.String.Escape */
.highlight .sh { color: #33b88a } /* Literal.String.Heredoc */
.highlight .si { color: #33b88a } /* Literal.String.Interpol */
.highlight .sx { color: #33b88a } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #33b88a } /* Literal.String.Single */
.highlight .ss { color: #33b88a } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #cce7ff } /* Name.Variable.Class */
.highlight .vg { color: #cce7ff } /* Name.Variable.Global */
.highlight .vi { color: #cce7ff } /* Name.Variable.Instance */
.highlight .il { color: #cce7ff } /* Literal.Number.Integer.Long */