<table style="width:100%">
    <tr>
        <td style="width:50%">
            <div style="align-content: flex-start">
                <a href="{{ page.previous }}" ><i class="fa fa-arrow-left" aria-hidden="true"></i> Previous Chapter</a>
            </div>
        </td>
        <td style="width:50%">
            <div style="align-content: flex-end; text-align: right;">
                <a href="{{ page.next }}">Next Chapter <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </td>
    </tr>
</table>
